# Thư mục build Maven
target/

# File cấu hình của Eclipse
.classpath
.project
.settings/

# Cache của Spring Tool Suite (STS)
.sts4-cache/

# File tạm hoặc backup
*.tmp
*.bak
*.swp
*~

# Các file của IDE khác (nếu mở bằng IntelliJ hoặc VS Code)
.idea/
*.iml
.vscode/

# Thư mục metadata hoặc tool tự sinh
.metadata/
tmp/
